.navbartop{
   color: white !important;
    padding: 0px !important;
    position: fixed;
    z-index: 2;
}

.carousel{
    padding: 0px !important;
    margin-top: 0%;
    
}
.container{
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}
.cardpanals{
    margin-top: 20px;
    margin-bottom: 100px;
}