.navbartop{
   color: white !important;
    padding: 0px !important;
    position: fixed;
    z-index: 2;
}
.body{
    background-color: aqua;
    height: 100%;
    background-image: url('../../assets/images/5.jpg');
    background-size: cover;
    overflow: hidden;
}
// .container{
//     background-image: url('../../assets/images/4.jpg');
// }

.carousel{
    padding: 0px !important;
}