<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 navbartop">

      <app-navbar></app-navbar>

      <!--/Navbar-->

    </div>
  </div>
</div>



<div class="container-fluid carousel">
  <!--Carousel Wrapper-->
  <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">

    <!--First slide-->
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" class="imgbg" src="../../assets/images/home/7.jpg" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h3-responsive"><b>Looking for Foods...?</b> </h1>
        <p>Join with OnlineFoods.lk</p>
      </div>
    </mdb-carousel-item>
    <!--End First slide-->

    <!--Second slide-->
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" class="imgbg" src="../../assets/images/home/6.jpg" alt="Second slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h3-responsive"><b>Online Order</b> </h1>
        <p>Subcribe Us<br>OnlineFoods.lk</p>
      </div>
    </mdb-carousel-item>
    <!--End Second slide-->

    <!--Third slide-->
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" class="imgbg" src="../../assets/images/home/7.jpg" alt="Third slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Slight mask</h3>
        <p>Third text</p>
      </div>
    </mdb-carousel-item>
    <!--End Third slide-->

    <!--4th slide-->
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" class="imgbg" src="../../assets/images/home/8.jpg" alt="4th slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Slight mask</h3>
        <p>4th text</p>
      </div>
    </mdb-carousel-item>
    <!--End 4th slide-->

    <!--5th slide-->
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" class="imgbg" src="../../assets/images/home/9.jpg" alt="4th slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Slight mask</h3>
        <p>5th text</p>
      </div>
    </mdb-carousel-item>
    <!--End 5th slide-->


  </mdb-carousel>
  <!--/.Carousel Wrapper-->
</div>

<div class="container">
  <div class="row">

    Online food ordering is the process of food delivery or takeout from a local restaurant or food cooperative
    through a web page or app. Much like ordering consumer goods online, many of these services allow customers
    to keep accounts with them in order to make frequent ordering convenient.

  </div>
</div>



















<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="view overlay waves-light" mdbWavesEffect>
        <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">

      <!-- Excerpt -->
      <a href="#!" class="green-text">
        <h6 class="h6 pb-1"><i class="fa fa-desktop pr-1"></i> #1</h6>
      </a>

      <h4 class="h4 mb-4">This is title of the news</h4>

      <p class="font-weight-normal">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        doloremque, totam
        rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
      <p class="font-weight-normal">by <a><strong>Carine Fox</strong></a>, 19/08/2016</p>

      <a mdbBtn color="success" mdbWavesEffect>Read more</a>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->


<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="view overlay waves-light" mdbWavesEffect>
        <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">

      <!-- Excerpt -->
      <a href="#!" class="green-text">
        <h6 class="h6 pb-1"><i class="fa fa-desktop pr-1"></i> #2</h6>
      </a>

      <h4 class="h4 mb-4">This is title of the news</h4>

      <p class="font-weight-normal">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        doloremque, totam
        rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
      <p class="font-weight-normal">by <a><strong>Carine Fox</strong></a>, 19/08/2016</p>

      <a mdbBtn color="success" mdbWavesEffect>Read more</a>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->

<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="view overlay waves-light" mdbWavesEffect>
        <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">

      <!-- Excerpt -->
      <a href="#!" class="green-text">
        <h6 class="h6 pb-1"><i class="fa fa-desktop pr-1"></i> #3</h6>
      </a>

      <h4 class="h4 mb-4">This is title of the news</h4>

      <p class="font-weight-normal">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        doloremque, totam
        rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
      <p class="font-weight-normal">by <a><strong>Carine Fox</strong></a>, 19/08/2016</p>

      <a mdbBtn color="success" mdbWavesEffect>Read more</a>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->






















<div class="container ">
  <div class="row">
    <h3>MOST POPULAR SHOPS</h3>
  </div>

  <div class="row cardpanals">
    <div class="col-lg-3">
      <!-- Card 1 -->
      <mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img src="../../assets/images/home/2.jpg" alt="Card image cap"></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>Card Title</h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
            content. </mdb-card-text>

          <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col-lg-3">

      <!-- Card 2-->
      <mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img src="../../assets/images/home/3.jpg" alt="Card image cap"></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>Card Title</h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
            content. </mdb-card-text>

          <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
        </mdb-card-body>
      </mdb-card>

    </div>

    <div class="col-lg-3">
      <!-- Card 3-->
      <mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img src="../../assets/images/home/4.jpg" alt="Card image cap"></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>Card Title</h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
            content. </mdb-card-text>

          <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col-lg-3">
      <!-- Card 4-->
      <mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img src="../../assets/images/home/10.jpg" alt="Card image cap"></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>Card Title</h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
            content. </mdb-card-text>

          <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>










<div class="container steps ">
  <div class="row">
    <h3>How to Work with Us</h3>
  </div>

  <div class="row steps">
    <div class="col-lg-4">
      <button type="button" mdbBtn color="default" class="waves-light" mdbPopover="Choose Your Shop" placement="right"
        mdbPopoverHeader="STEP 01" mdbWavesEffect>
        Step 01
      </button>
    </div>

    <div class="col-lg-4">
      <button type="button" mdbBtn color="default" class="waves-light" mdbPopover="Choose Your Favorable Food"
        placement="top" mdbPopoverHeader=" Step 02" mdbWavesEffect>
        Step 02
      </button>
    </div>

    <div class="col-lg-4">
      <button type="button" mdbBtn color="default" class="waves-light" mdbPopover="Deliver or Takeaway"
        placement="left" mdbPopoverHeader="STEP 03" mdbWavesEffect>
        Step 03
      </button>
    </div>

  </div>
</div>









<div class="conatiner">
  <div class="row topfoods">

<!--Section: Products v.1-->
<section class="text-center pb-3 my-5">
    <!--Section heading-->
    <h2 class="h1 font-weight-bold h1 py-5">Our bestsellers</h2>
    <!--Section description-->
    <p class="grey-text pb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam
      iure provident voluptate esse quasi,
      veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-3">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/1.jpg" alt="sample photo"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center">
            <!--Category & Title-->
            <a href="" class="grey-text">
              <h5>Denim</h5>
            </a>
            <mdb-card-title>
              <h4>
                <strong>
                  <a href="">Denim trousers</a>
                </strong>
              </h4>
            </mdb-card-title>
  
            <!--Rating-->
            <ul class="rating">
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star-o"></i>
              </li>
            </ul>
            <!--Description-->
            <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit..
            </mdb-card-text>
            <!--Card footer-->
            <mdb-card-footer>
              <span class="float-left font-weight-bold">
                <strong>49$</strong>
              </span>
              <span class="float-right">
                <a data-toggle="tooltip" data-placement="top" title="Add to Cart">
                  <i class="fa fa-shopping-cart grey-text ml-3"></i>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Share">
                  <i class="fa fa-share-alt grey-text ml-3"></i>
                </a>
                <a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist">
                  <i class="fa fa-heart ml-3"></i>
                </a>
              </span>
            </mdb-card-footer>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--Card-->
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-3">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/2.jpg" alt="sample photo"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center">
            <!--Category & Title-->
            <a href="" class="grey-text">
              <h5>Shoes</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title">
                <strong>
                  <a href="">High heels</a>
                </strong>
              </h4>
            </mdb-card-title>
  
            <!--Rating-->
            <ul class="rating">
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
            </ul>
            <!--Description-->
            <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit.
            </mdb-card-text>
            <!--Card footer-->
            <mdb-card-footer>
              <span class="float-left font-weight-bold">
                <strong>89$</strong>
              </span>
              <span class="float-right">
                <a data-toggle="tooltip" data-placement="top" title="Add to Cart">
                  <i class="fa fa-shopping-cart grey-text ml-3"></i>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Share">
                  <i class="fa fa-share-alt grey-text ml-3"></i>
                </a>
                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                  <i class="fa fa-heart grey-text ml-3"></i>
                </a>
              </span>
            </mdb-card-footer>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--Card-->
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-3">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/4.jpg" alt="sample photo"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center">
            <!--Category & Title-->
            <a href="" class="grey-text">
              <h5>Outwear</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title">
                <strong>
                  <a href="">Brown coat</a>
                </strong>
              </h4>
            </mdb-card-title>
            <!--Rating-->
            <ul class="rating">
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star-half-o"></i>
              </li>
            </ul>
            <!--Description-->
            <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit.
            </mdb-card-text>
            <!--Card footer-->
            <mdb-card-footer>
              <span class="float-left font-weight-bold">
                <strong>59$</strong>
              </span>
              <span class="float-right">
                <a data-toggle="tooltip" data-placement="top" title="Add to Cart">
                  <i class="fa fa-shopping-cart grey-text ml-3"></i>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Share">
                  <i class="fa fa-share-alt grey-text ml-3"></i>
                </a>
                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                  <i class="fa fa-heart grey-text ml-3"></i>
                </a>
              </span>
            </mdb-card-footer>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--Card-->
      </div>
      <!--Grid column-->
      <!--Fourth column-->
      <div class="col-lg-3 col-md-6 mb-3">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/3.jpg" alt="sample photo"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center">
            <!--Category & Title-->
            <a href="" class="grey-text">
              <h5>Blouses</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title">
                <strong>
                  <a href="">Shirt</a>
                </strong>
              </h4>
            </mdb-card-title>
            <!--Rating-->
            <ul class="rating">
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star-o"></i>
              </li>
            </ul>
            <!--Description-->
            <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit.
            </mdb-card-text>
            <!--Card footer-->
            <mdb-card-footer>
              <span class="float-left font-weight-bold">
                <strong>119$</strong>
              </span>
              <span class="float-right">
                <a data-toggle="tooltip" data-placement="top" title="Add to Cart">
                  <i class="fa fa-shopping-cart grey-text ml-3"></i>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Share">
                  <i class="fa fa-share-alt grey-text ml-3"></i>
                </a>
                <a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist">
                  <i class="fa fa-heart ml-3"></i>
                </a>
              </span>
            </mdb-card-footer>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--Card-->
      </div>
      <!--Fourth column column-->
    </div>
    <!--Grid row-->
  </section>
  <!--Section: Products v.1-->


    <div class="col-lg-3">

    </div>
  </div>
</div>






<!-- Section: Blog v.2 -->
<section class="text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">Recent posts</h2>
  <!-- Section description -->
  <p class="dark-grey-text w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit
    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
    qui officia deserunt mollit anim id est laborum.</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/81.jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Category -->
      <a href="#!" class="pink-text">
        <h6 class="font-weight-bold mb-3"><i class="fa fa-map pr-2"></i>Adventure</h6>
      </a>
      <!-- Post title -->
      <h4 class="font-weight-bold mb-3"><strong>Title of the news</strong></h4>
      <!-- Post data -->
      <p>by <a class="font-weight-bold">Billy Forester</a>, 15/07/2018</p>
      <!-- Excerpt -->
      <p class="dark-grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
        quo minus id quod maxime placeat facere possimus voluptas.</p>
      <!-- Read more button -->
      <a mdbBtn color="pink" rounded="true" mdbWavesEffect>Read more</a>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-md-0 mb-4">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Category -->
      <a href="#!" class="deep-orange-text">
        <h6 class="font-weight-bold mb-3"><i class="fa fa-graduation-cap pr-2"></i>Education</h6>
      </a>
      <!-- Post title -->
      <h4 class="font-weight-bold mb-3"><strong>Title of the news</strong></h4>
      <!-- Post data -->
      <p>by <a class="font-weight-bold">Billy Forester</a>, 13/07/2018</p>
      <!-- Excerpt -->
      <p class="dark-grey-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
        voluptatum deleniti atque corrupti quos dolores.</p>
      <!-- Read more button -->
      <a mdbBtn color="deep-orange" rounded="true" mdbWavesEffect>Read more</a>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-0">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/13.jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Category -->
      <a href="#!" class="blue-text">
        <h6 class="font-weight-bold mb-3"><i class="fa fa-fire pr-2"></i>Culture</h6>
      </a>
      <!-- Post title -->
      <h4 class="font-weight-bold mb-3"><strong>Title of the news</strong></h4>
      <!-- Post data -->
      <p>by <a class="font-weight-bold">Billy Forester</a>, 11/07/2018</p>
      <!-- Excerpt -->
      <p class="dark-grey-text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
        quia consequuntur magni dolores eos qui ratione.</p>
      <!-- Read more button -->
      <a mdbBtn color="info" rounded="true" mdbWavesEffect>Read more</a>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Blog v.2 -->




















<!-- Footer -->
<footer class="page-footer font-small light-blue">

  <!-- Footer Links -->


  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/angular/angular-tutorial/"> OnlineFoods.lk</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->