<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 navbartop">

      <app-navbar></app-navbar>

      <!--/Navbar-->

    </div>
  </div>
</div>



<div class="container-fluid carousel">
  <!--Carousel Wrapper-->
  <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">

    <!--First slide-->
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" class="imgbg" src="../../assets/images/home/7.jpg" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h3-responsive"><b>Looking for Foods...?</b> </h1>
        <p>Join with OnlineFoods.lk</p>
      </div>
    </mdb-carousel-item>
    <!--End First slide-->

    <!--Second slide-->
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" class="imgbg" src="../../assets/images/home/6.jpg" alt="Second slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h3-responsive"><b>Online Order</b> </h1>
        <p>Subcribe Us<br>OnlineFoods.lk</p>
      </div>
    </mdb-carousel-item>
    <!--End Second slide-->

    <!--Third slide-->
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" class="imgbg" src="../../assets/images/home/7.jpg" alt="Third slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Reserve your foods</h3>
        <p>OnlineFoods.lk</p>
      </div>
    </mdb-carousel-item>
    <!--End Third slide-->

    <!--4th slide-->
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" class="imgbg" src="../../assets/images/home/8.jpg" alt="4th slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Slight mask</h3>
        <p>4th text</p>
      </div>
    </mdb-carousel-item>
    <!--End 4th slide-->

    <!--5th slide-->
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" class="imgbg" src="../../assets/images/home/9.jpg" alt="4th slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Slight mask</h3>
        <p>5th text</p>
      </div>
    </mdb-carousel-item>
    <!--End 5th slide-->


  </mdb-carousel>
  <!--/.Carousel Wrapper-->
</div>

<div class="container">
  <div class="row">

    Online food ordering is the process of food delivery or takeout from a local restaurant or food cooperative
    through a web page or app. Much like ordering consumer goods online, many of these services allow customers
    to keep accounts with them in order to make frequent ordering convenient.

  </div>
</div>


<div class="container">
  <div class="row">
    <h3><b><i>SHOPS PROMOTIONS</i></b></h3> 
  </div>
</div>
















<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="view overlay waves-light" mdbWavesEffect>
        <img src="../../assets/images/home/offer1.jpg"  class="img-fluid" alt="Sample image for first version of blog listing">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">

      <!-- Excerpt -->
      <a href="#!" class="green-text">
        <h6 class="h6 pb-1"><i class="fa fa-desktop pr-1"></i> #1</h6>
      </a>

      <h4 class="h4 mb-4">Bye 1 Get 1 Free</h4>

      <p class="font-weight-normal">Bye 1 Get 1 Free on Pan Pizza's </p>
      <p class="font-weight-normal">by <a><strong>Pizza Hut</strong></a>, 01/01/2019</p>

      <a mdbBtn color="success" mdbWavesEffect>OFFER</a>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->


<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="view overlay waves-light" mdbWavesEffect>
        <img src="../../assets/images/home/offer4.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">

      <!-- Excerpt -->
      <a href="#!" class="green-text">
        <h6 class="h6 pb-1"><i class="fa fa-desktop pr-1"></i> #2</h6>
      </a>

      <h4 class="h4 mb-4">WEDNESDAY OFFER</h4>

      <p class="font-weight-normal">"WEDNESDAY OFFER" Buy 6 Chicken Pieces & Get 6 Pieces </p>
      <p class="font-weight-normal">by <a><strong>KFC</strong></a>, 19/12/2018</p>

      <a mdbBtn color="success" mdbWavesEffect>OFFER</a>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->

<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="view overlay waves-light" mdbWavesEffect>
        <img src="../../assets/images/home/offer7.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">

      <!-- Excerpt -->
      <a href="#!" class="green-text">
        <h6 class="h6 pb-1"><i class="fa fa-desktop pr-1"></i> #3</h6>
      </a>

      <h4 class="h4 mb-4">EVERY DAY WINNER</h4>

      <p class="font-weight-normal">Winner a bucket with <strong>7 Pieces Chicken</strong>, <strong>8 Wings</strong> ,
        <strong>6 Krispers</strong> , <strong>1 Pepsi 2L </strong>       
      </p>
      <p class="font-weight-normal">by <a><strong>KFC</strong></a>, 19/08/2018</p>

      <a mdbBtn color="success" mdbWavesEffect>OFFER</a>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->












<!-- MOST POPULAR SHOPS -->









<div class="container ">
  <div class="row">
    <h3>MOST POPULAR SHOPS</h3>
  </div>

  <div class="row cardpanals">
    <div class="col-lg-3">
      <!-- Card 1 -->
      <mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img src="../../assets/images/home/pizza.jpg" alt="Card image cap"></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>Pizza Hut</h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
            content. </mdb-card-text>

          <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>More</a>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col-lg-3">

      <!-- Card 2-->
      <mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img src="../../assets/images/home/Dominos1.jpg" alt="Card image cap"></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>Domino's</h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
            content. </mdb-card-text>

          <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>More</a>
        </mdb-card-body>
      </mdb-card>

    </div>

    <div class="col-lg-3">
      <!-- Card 3-->
      <mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img src="../../assets/images/home/kfc4.jpg" alt="Card image cap"></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>KFC</h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
            content. </mdb-card-text>

          <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>more</a>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col-lg-3">
      <!-- Card 4-->
      <mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img src="../../assets/images/home/Burger1..png" alt="Card image cap"></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>Burger King</h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
            content. </mdb-card-text>

          <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>more</a>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>



























<!-- How to Work with Us -->


<div class="container steps ">
  <div class="row">
    <h3>How to Work with Us</h3>
  </div>

  <div class="row steps">
    <div class="col-lg-4">
      <button type="button" mdbBtn color="default" class="waves-light" mdbPopover="Choose Your Shop" placement="right"
        mdbPopoverHeader="STEP 01" mdbWavesEffect>
        Step 01
      </button>
    </div>

    <div class="col-lg-4">
      <button type="button" mdbBtn color="default" class="waves-light" mdbPopover="Choose Your Favorable Food"
        placement="top" mdbPopoverHeader=" Step 02" mdbWavesEffect>
        Step 02
      </button>
    </div>

    <div class="col-lg-4">
      <button type="button" mdbBtn color="default" class="waves-light" mdbPopover="Deliver or Takeaway"
        placement="left" mdbPopoverHeader="STEP 03" mdbWavesEffect>
        Step 03
      </button>
    </div>

  </div>
</div>










































<div class="conatiner">
  <div class="row topfoods">

<!--Section: Products v.1-->
<section class="text-center pb-3 my-5">
    <!--Section heading-->
    <div class="col-lg-12">
    <h2 class="h1 font-weight-bold h1 py-5">Top Sales Food Items</h2>
    <!--Section description-->
    <p class="dark-grey-text w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit
      esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
      qui officia deserunt mollit anim id est laborum.</p>
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->



      
      <div class="col-lg-3">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="../../assets/images/home/2.jpg" alt="sample photo"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center">
            <!--Category & Title-->
            <a href="" class="grey-text">
              <h5>Denim</h5>
            </a>
            <mdb-card-title>
              <h4>
                <strong>
                  <a href="">Denim trousers</a>
                </strong>
              </h4>
            </mdb-card-title>
  
            <!--Rating-->
            <ul class="rating">
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star-o"></i>
              </li>
            </ul>
            <!--Description-->
            <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit..
            </mdb-card-text>
            <!--Card footer-->
            <mdb-card-footer>
              <span class="float-left font-weight-bold">
                <strong>Rs.300.00</strong>
              </span>
              <span class="float-right">
                <a data-toggle="tooltip" data-placement="top" title="Add to Cart">
                  <i class="fa fa-shopping-cart grey-text ml-3"></i>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Share">
                  <i class="fa fa-share-alt grey-text ml-3"></i>
                </a>
                <a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist">
                  <i class="fa fa-heart ml-3"></i>
                </a>
              </span>
            </mdb-card-footer>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--Card-->
      </div>
      <!--Grid column-->





      <!--Grid column-->
      <div class="col-lg-3">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="../../assets/images/home/5.jpg" alt="sample photo"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center">
            <!--Category & Title-->
            <a href="" class="grey-text">
              <h5>Shoes</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title">
                <strong>
                  <a href="">High heels</a>
                </strong>
              </h4>
            </mdb-card-title>
  
            <!--Rating-->
            <ul class="rating">
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
            </ul>
            <!--Description-->
            <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit.
            </mdb-card-text>
            <!--Card footer-->
            <mdb-card-footer>
              <span class="float-left font-weight-bold">
                <strong>Rs.500.00</strong>
              </span>
              <span class="float-right">
                <a data-toggle="tooltip" data-placement="top" title="Add to Cart">
                  <i class="fa fa-shopping-cart grey-text ml-3"></i>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Share">
                  <i class="fa fa-share-alt grey-text ml-3"></i>
                </a>
                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                  <i class="fa fa-heart grey-text ml-3"></i>
                </a>
              </span>
            </mdb-card-footer>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--Card-->
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-lg-3 ">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="../../assets/images/home/12.jpg" alt="sample photo"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center">
            <!--Category & Title-->
            <a href="" class="grey-text">
              <h5>Outwear</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title">
                <strong>
                  <a href="">Brown coat</a>
                </strong>
              </h4>
            </mdb-card-title>
            <!--Rating-->
            <ul class="rating">
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star-half-o"></i>
              </li>
            </ul>
            <!--Description-->
            <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit.
            </mdb-card-text>
            <!--Card footer-->
            <mdb-card-footer>
              <span class="float-left font-weight-bold">
                <strong>Rs.630.00</strong>
              </span>
              <span class="float-right">
                <a data-toggle="tooltip" data-placement="top" title="Add to Cart">
                  <i class="fa fa-shopping-cart grey-text ml-3"></i>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Share">
                  <i class="fa fa-share-alt grey-text ml-3"></i>
                </a>
                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                  <i class="fa fa-heart grey-text ml-3"></i>
                </a>
              </span>
            </mdb-card-footer>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--Card-->
      </div>
      <!--Grid column-->
      <!--Fourth column-->
      <div class="col-lg-3 ">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="../../assets/images/home/3.jpg" alt="sample photo"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center">
            <!--Category & Title-->
            <a href="" class="grey-text">
              <h5>Blouses</h5>
            </a>
            <mdb-card-title>
              <h4 class="card-title">
                <strong>
                  <a href="">Shirt</a>
                </strong>
              </h4>
            </mdb-card-title>
            <!--Rating-->
            <ul class="rating">
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star-o"></i>
              </li>
            </ul>
            <!--Description-->
            <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit.
            </mdb-card-text>
            <!--Card footer-->
            <mdb-card-footer>
              <span class="float-left font-weight-bold">
                <strong>Rs.260.00</strong>
              </span>
              <span class="float-right">
                <a data-toggle="tooltip" data-placement="top" title="Add to Cart">
                  <i class="fa fa-shopping-cart grey-text ml-3"></i>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Share">
                  <i class="fa fa-share-alt grey-text ml-3"></i>
                </a>
                <a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist">
                  <i class="fa fa-heart ml-3"></i>
                </a>
              </span>
            </mdb-card-footer>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--Card-->
      </div>
      <!--Fourth column column-->
    </div>
  </div>
    <!--Grid row-->
  </section>
  <!--Section: Products v.1-->

  </div>
</div>



























<!-- Footer -->
<footer class="page-footer font-small light-blue">

  <!-- Footer Links -->


  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/angular/angular-tutorial/"> OnlineFoods.lk</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->