<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 navbartop">
        <!--Navbar-->
        <mdb-navbar SideClass="navbar navbar-1 navbar-dark blue lighten-2" [containerInside]="false">
  
          <!-- Navbar brand -->
          <mdb-navbar-brand><a class="navbar-brand" href="#"><b>Online Food and Beverages Ordering System</b></a></mdb-navbar-brand>
  
          <!-- Collapsible content -->
          <links>
  
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a routerLink=''><a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a></a>
              </li>
              <li class="nav-item">
                <a routerLink='/accounts'> <a class="nav-link waves-light" mdbWavesEffect>Accounts</a></a>
              </li>
              <li class="nav-item">
                <a routerLink='/shops'><a class="nav-link waves-light" mdbWavesEffect>Shops</a></a>
              </li>
              <li class="nav-item">
                <a routerLink='/shops'><a class="nav-link waves-light" mdbWavesEffect>Log Out</a></a>
              </li>
            </ul>
            <!-- Links -->
          </links>
          <!-- Collapsible content -->
  
        </mdb-navbar>
        <!--/.Navbar-->
  
      </div>
      <div class="body">
  
      </div>
    </div>
  </div>
  

<!-- cards -->


  <div class="row cardpanals">
    <div class="col-lg-3">
      <!-- Card 1 -->
<mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="../../assets/images/home/10.jpg" alt="Card image cap"></mdb-card-img>
      <a> <div class="mask"></div> </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title> <h4>Name 01</h4> </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content. </mdb-card-text>
      <div class="container botton">
        <a routerLink='/shop'><button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect>Shop Name 01</button></a>
      </div>
      
    </mdb-card-body>
  </mdb-card>
    </div>

    <div class="col-lg-3">

      <!-- Card -->
<mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="../../assets/images/home/11.jpg" alt="Card image cap"></mdb-card-img>
      <a> <div class="mask"></div> </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title> <h4>Name 02</h4> </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content. </mdb-card-text>
  
      <div class="container botton">
        <a routerLink='/shop'><button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect>Shop Name 02</button></a>
      </div>

    </mdb-card-body>
  </mdb-card>

    </div>

    <div class="col-lg-3">
      <!-- Card -->
<mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="../../assets/images/home/12.jpg" alt="Card image cap"></mdb-card-img>
      <a> <div class="mask"></div> </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title> <h4>Name 03</h4> </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content. </mdb-card-text>
  
      <div class="container botton">
        <a routerLink='/shop'><button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect>Shop Name 03</button></a>
      </div>

    </mdb-card-body>
  </mdb-card>
    </div>

    <div class="col-lg-3">
      <!-- Card -->
<mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="../../assets/images/home/9.jpg" alt="Card image cap"></mdb-card-img>
      <a> <div class="mask"></div> </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title> <h4>Name 04</h4> </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content. </mdb-card-text>
  
      <div class="container botton">
        <a routerLink='/shop'><button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect>Shop Name 04</button></a>
      </div>

    </mdb-card-body>
  </mdb-card>
    </div>
  </div>


<!-- 2 -->



<!-- cards -->


<div class="row cardpanals2">
  <div class="col-lg-3">
    <!-- Card 1 -->
<mdb-card>
  <div class="view rgba-white-slight waves-light" mdbWavesEffect>
    <!-- Card img -->
    <mdb-card-img src="../../assets/images/home/14.jpg" alt="Card image cap"></mdb-card-img>
    <a> <div class="mask"></div> </a>
  </div>
  <!--Card content-->
  <mdb-card-body>
    <!--Title-->
    <mdb-card-title> <h4>Name 05</h4> </mdb-card-title>

    <!--Text-->
    <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content. </mdb-card-text>

    <div class="container botton">
      <a routerLink='/shop'><button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect>Shop Name 05</button></a>
    </div>

  </mdb-card-body>
</mdb-card>
  </div>

  <div class="col-lg-3">

    <!-- Card -->
<mdb-card>
  <div class="view rgba-white-slight waves-light" mdbWavesEffect>
    <!-- Card img -->
    <mdb-card-img src="../../assets/images/home/15.jpg" alt="Card image cap"></mdb-card-img>
    <a> <div class="mask"></div> </a>
  </div>
  <!--Card content-->
  <mdb-card-body>
    <!--Title-->
    <mdb-card-title> <h4>Name 06</h4> </mdb-card-title>

    <!--Text-->
    <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content. </mdb-card-text>

    <div class="container botton">
      <a routerLink='/shop'><button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect>Shop Name 06</button></a>
    </div>

  </mdb-card-body>
</mdb-card>

  </div>

  <div class="col-lg-3">
    <!-- Card -->
<mdb-card>
  <div class="view rgba-white-slight waves-light" mdbWavesEffect>
    <!-- Card img -->
    <mdb-card-img src="../../assets/images/home/16.jpg" alt="Card image cap"></mdb-card-img>
    <a> <div class="mask"></div> </a>
  </div>
  <!--Card content-->
  <mdb-card-body>
    <!--Title-->
    <mdb-card-title> <h4>Name 07</h4> </mdb-card-title>

    <!--Text-->
    <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content. </mdb-card-text>

    <div class="container botton">
      <a routerLink='/shop'><button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect>Shop Name 07</button></a>
    </div>

  </mdb-card-body>
</mdb-card>
  </div>

  <div class="col-lg-3">
    <!-- Card -->
<mdb-card>
  <div class="view rgba-white-slight waves-light" mdbWavesEffect>
    <!-- Card img -->
    <mdb-card-img src="../../assets/images/home/17.jpg" alt="Card image cap"></mdb-card-img>
    <a> <div class="mask"></div> </a>
  </div>
  <!--Card content-->
  <mdb-card-body>
    <!--Title-->
    <mdb-card-title> <h4>Name 08</h4> </mdb-card-title>

    <!--Text-->
    <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content. </mdb-card-text>

    <div class="container botton">
      <a routerLink='/shop'><button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect>Shop Name 08</button></a>
    </div>

  </mdb-card-body>
</mdb-card>
  </div>
</div>


 
  
  
  
  <!-- Footer -->
  <footer class="page-footer font-small light-blue">
  
      <!-- Footer Links -->
      <div class="container text-center text-md-left">
  
        <!-- Grid row -->
        <div class="row">
  
          <!-- Grid column -->
          <div class="col-md-3 mx-auto">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!">Very long link 1</a>
              </li>
              <li>
                <a href="#!">Very long link 2</a>
              </li>
              <li>
                <a href="#!">Very long link 3</a>
              </li>
              <li>
                <a href="#!">Very long link 4</a>
              </li>
            </ul>
  
          </div>
          <!-- Grid column -->
  
          <hr class="clearfix w-100 d-md-none">
  
          <!-- Grid column -->
          <div class="col-md-3 mx-auto">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>
  
          </div>
          <!-- Grid column -->
  
          <hr class="clearfix w-100 d-md-none">
  
          <!-- Grid column -->
          <div class="col-md-3 mx-auto">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>
  
          </div>
          <!-- Grid column -->
  
          <hr class="clearfix w-100 d-md-none">
  
          <!-- Grid column -->
          <div class="col-md-3 mx-auto">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row -->
  
      </div>
      <!-- Footer Links -->
  
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/angular/angular-tutorial/"> OnlineFoods.lk</a>
      </div>
      <!-- Copyright -->
  
    </footer>
    <!-- Footer -->